body {
	margin: 0;
	background-color: #FFFFFF;
	overflow-y: auto;
}

td {
	border: 1px solid #999;
	padding: 2px;
	margin: 0px;
	vertical-align: middle;
}

.container {
	
}

.mainTable {
	margin: 0 auto;
	margin-top: 10px;
	width: 777px;
	text-align: center;
	border-collapse: collapse;
	table-layout: auto;
	text-align: center;
	width: 760px;
}

.mainTable_TitleTd {
	background-image: url(../Images/nei_12.jpg);
	color: #000000;
	font-family: "ו";
	font-size: 14px;
	font-weight: bold;
	height: 26px;
	text-decoration: none;
	text-align: center;
	width: 777px;
}

.mainTable_LeftTd {
	text-align: right;
	vertical-align: middle;
	font-family: "ו";
	font-size: 13px;
	color: #000000;
	height: 35px;
	font-weight: normal;
	background-color: White;
	width: 80px;
}

.mainTable_RightTd {
	text-align: left;
	padding-left: 5px;
	text-align: left;
	vertical-align: middle;
	font-family: "ו";
	font-size: 13px;
	color: #000000;
	height: 35px;
	font-weight: normal;
	background-color: White;
	width: 300px;
}

.mainTable_ButtonTd {
	text-align: center;
	vertical-align: middle;
	height: 38px;
	background-color: White;
}

.button {
	border: none;
	background: url(../Images/btn99x28.png) no-repeat;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	width: 99px;
	height: 28px;
	_padding-top: 4px;
	text-align: center;
}

.hidden {
	display: none;
}

.noBorder {
	width: auto;
}

.noBorder td {
	border: none;
	padding: 0;
}

.inline {
	display: inline;
}

em {
	font-family: Verdana;
	font-size: 96%;
	font-weight: bold;
	color: Red;
	padding-left: 1px;
	vertical-align: top;
}

.description {
	width: 630px;
	height: 70px;
	margin: 3px auto;
}