* {
	font-size: 12px;
	font-family: arial, "å®‹ä½“";
}

a {
	text-decoration: none;
	color: #333;
}

td {
	border: 1px solid #cfcfcf;
	height: 20px;
	padding: 3px;
	color: #191919;
	font-weight: normal;
}

.container {
	margin: 0px auto;
	width: 800px;
}

.funBut {
	text-align: left;
	margin: 10px;
	width: 100%;
}

.receiverQueFor {
	margin: 0 auto;
	text-align: right;
	width: 100%;
}

.queFor {
	margin: 0 auto;
	margin-top: 80px;
	text-align: right;
	width: 100%;
}

.receiverInf {
	float: left;
	color: red;
	font-size:20px;
	font-weight: bolder;
}

#receiverQueryBuilderForm {
	float: right;
	margin-bottom: 3px;
}

#queryBuilderForm {
	margin-bottom: 3px;
}

.addBtn {
	background: url(../Images/btn01.gif) no-repeat scroll;
	margin-right: 15px;
	width: 65px;
	height: 24px;
	border: none;
	cursor: pointer;
	color: #FFF;
}

.recLis {
	border-collapse: collapse;
	margin: 0px 3px 3px 3px;
	width: 100%;
}

.headerTd {
	border: 1px solid #cfcfcf;
	height: 28px;
	padding-left: 3px;
	color: #191919;
	background: url(../Images/nav021.gif) repeat 0 -5px;
	font-weight: normal;
	text-align: center;
}

.actionTd {
	text-align: center;
}

.actionTd span {
	cursor: pointer;
}

.pagAre {
	margin: 10px auto;
	width: 100%;
}

.pagLef {
	display: inline;
	float: left;
	padding-top: 3px;
	height: 20px;
	vertical-align: middle;
	width: 50%;
	height: 20px;
}

.pagRig {
	display: inline;
	float: right;
	height: 20px;
	vertical-align: middle;
	width: 50%;
}

.pagRig span {
	cursor: pointer;
}

.checkbox {
	background-color: #FFF;
	border: 1px solid #999999;
	padding: 2px;
	margin: 1px;
	font-size: 12px;
	width: 200px;
	z-index: 1000;
	height: 17px;
	width: 150px;
	overflow: hidden;
	position: relative;
}

.fis {
	padding-left: 15px;
	background: url(../Images/pagination.gif) no-repeat scroll -1px -82px;
}

.pre {
	margin: 0 5px;
	padding-left: 15px;
	background: url(../Images/pagination.gif) no-repeat scroll 3px -15px;
}

.nex {
	margin: 0 5px;
	padding-right: 15px;
	background: url(../Images/pagination.gif) no-repeat scroll 33px -50px;
}

.las {
	margin: 0 6px;
	padding-right: 15px;
	background: url(../Images/pagination.gif) no-repeat scroll 25px -112px;
}

.red {
	margin-top: -3px;
	color: #333333;
}

#gotoBut {
	background: url(../Images/go.gif) no-repeat scroll;
	width: 26px;
	height: 18px;
	border: none;
	color: #FFF;
	cursor: pointer;
}

#pagerInput {
	height: 15px;
	width: 30px;
}

.noResult {	
	width: 100%;
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
	font-family: inherit;
	font-weight: bold;
	color: Red;
}

.isRunningDiv {
	width: 100%;
	margin: 30 auto;
	margin-top: 20px;
	text-align: center;
}

.isRunningDiv a {
	cursor: default;
	margin: 0 auto;
	display: block;
	height: 30px;
	width: 100px;
	background: url("../Images/isRunning.gif") center no-repeat;
}

.hidden {
	display: none;
}

#contentTable tr:hover {
	background-color: #f2f2f2;
}

#contentTable tr td {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-icab-text-overflow: ellipsis;
	-khtml-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}

.inline {
	display: inline;
}

.contentTd {
	padding: 0 5px;
	background-color: #FFFFFF;
	font-size: 12px;
	height: 25px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	¡¡
	¡¡¡¡
}